body {
    margin: 0;
    background: #3a4965;
}

main table {
    margin-left: 22px;
    margin-top: 24px;
    border-collapse: collapse;
    line-height: 1.1;
    text-align: center;
    color: #484848;
    font-family: 'Arimo-Bold', sans-serif;
}

main table th:nth-child(n+1) {
    box-shadow: -4px 0 6px -5px #a4a4a4;
}

main table th:first-child {
    box-shadow: none;
}

main table .header-table {
    background-color: #fafafa;
    text-transform: uppercase;
}

main table .header-table .pricing-plan {
    width: 308px;
    height: 154px;
    box-shadow: none;
}

main table .header-table .pricing-plan .first-line {
    font-size: 18px;
    color: rgba(72, 72, 72, 255);
}

main table .header-table .pricing-plan .second-line {
    font-size: 30px;
    color: rgba(72, 72, 72, 255);
}

main table .header-table .standard {
    width: 275px;
    height: 68px;
    background-color: #89c331;
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
}

main table .header-table .ultimate {
    width: 277px;
    height: 68px;
    background-color: #f04a56;
    font-size: 30px;
    color: rgba(255, 255, 255, 255);
    box-shadow: none;
}

main table .header-table .premium {
    width: 275px;
    height: 68px;
    background-color: #20807c;
    font-size: 30px;
    color: rgba(255, 255, 255, 255);
    box-shadow: none;
}

main table .header-table .standard-price,
main table .header-table .ultimate-price,
main table .header-table .premium-price {
    color: rgba(72, 72, 72, 255);
    width: 277px;
    height: 86px;
    box-shadow: -4px 0 6px -5px #a4a4a4;
}

main table .header-table .standard-price > div,
main table .header-table .ultimate-price > div,
main table .header-table .premium-price > div {
    float: left;
}

main table .header-table .standard-price .int-price,
main table .header-table .ultimate-price .int-price,
main table .header-table .premium-price .int-price {
    padding-left: 33px;
    font-size: 60px;
}

main table .header-table .standard-price .int-price:before,
main table .header-table .ultimate-price .int-price:before,
main table .header-table .premium-price .int-price:before {
    content: "\0024";
    font-size: inherit;
}

main table .header-table .standard-price .float-price,
main table .header-table .ultimate-price .float-price,
main table .header-table .premium-price .float-price {
    font-size: 29px;
    padding-right: 10px;
}

main table .header-table .standard-price .info-price,
main table .header-table .ultimate-price .info-price,
main table .header-table .premium-price .info-price {
    font-family: 'Arimo', sans-serif;
    margin-top: -28px;
    margin-left: 140px;
    font-size: 18px;
}

main table .content-table {
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    height: 69px;
}

main table .content-table:nth-child(2n-1) {
    background-color: #f2f2f2;
}

main table .content-table:nth-child(2n) {
    background-color: #e3e3e3;
}

main table i {
    color: #848484;
}

main table .footer-table > td {
    height: 110px;
}

main table .footer-table .contact_us-btn {
    background-color: #dddddd;
}

main table .footer-table .standard-btn {
    background-color: #eeeeee;
    box-shadow: -4px 0 6px -5px #a4a4a4;
}

main table .footer-table .ultimate-btn {
    background-color: #f4f4f4;
    box-shadow: -4px 0 6px -5px #a4a4a4;
}

main table .footer-table .premium-btn {
    background-color: #eeeeee;
    box-shadow: -4px 0 6px -5px #a4a4a4;
}

main table .footer-table button {
    font-family: 'Arimo-Bold', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    width: 192px;
    height: 49px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 17px;
    text-align: center;
    transition: all 0.5s;
}

main table .footer-table button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

main table .footer-table button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

main table .footer-table button:hover span {
    padding-right: 25px;
}

main table .footer-table button:hover span:after {
    opacity: 1;
    right: 0;
}

main table .footer-table .contact_us-btn > button {
    background-color: #484848;
    box-shadow: 0 5px #404040;
}

main table .footer-table .standard-btn > button {
    background-color: #89c331;
    box-shadow: 0 5px #79b027;
}

main table .footer-table .ultimate-btn > button {
    background-color: #f04a56;
    box-shadow: 0 5px #df3a46;
}

main table .footer-table .premium-btn > button {
    background-color: #20807c;
    box-shadow: 0 5px #16736f;
}