@font-face {
    font-family: Arimo;
    src: url('../fonts/Arimo-Regular.ttf');
}

@font-face {
    font-family: Arimo-Bold;
    src: url('../fonts/Arimo-Bold.ttf');
}

body {
    padding: 0;
    margin: 0;
    background: #3a4965;
}

main table {
    box-sizing: border-box;
    margin-left: 22px;
    margin-top: 24px;
    border-collapse: collapse;
    line-height: 1.1;
    text-align: center;
    color: #484848;
    font-family: 'Arimo-Bold', sans-serif;
}

main table .header-table {
    background-color: #fafafa;
    text-transform: uppercase;
    font-family: Arimo-Bold, sans-serif;
    color: #848484;
}

main table .header-table .pricing-plan {
    width: 198px;
    height: 113px;
}

main table .header-table .pricing-plan .first-line {
    font-size: 14px;
}

main table .header-table .pricing-plan .second-line {
    font-size: 20px;
}

main table .header-table .header-th {
    width: 157px;
    height: 112px;
    font-size: 24px;
}

main table .header-table .header-th:nth-child(2n),
main table .content-table .content-th:nth-child(2n) {
    background-color: #e3e3e3;
}

main table .content-table {
    background-color: #fafafa;
}

main table .content-table .standard-th {
    width: 198px;
    height: 167px;
    font-family: Arimo-Bold, sans-serif;
    color: #fff;
}

main table .header-table,
main table .content-table {
    border-bottom: 1px solid #cacaca;
}

main table .content-table .content-th {
    width: 157px;
    height: 166px;
    text-transform: uppercase;
    font-family: Arimo, sans-serif;
    color: #848484;
}

main table .content-table .standard-th {
    text-transform: uppercase;
    font-family: Arimo-Bold, sans-serif;
    color: #fff;
    background-color: #89c331;
    border-bottom: 1px solid #89c331;
}

main table .content-table .standard-th .standard,
main table .content-table .ultimate-th .ultimate,
main table .content-table .premium-th .ultimate {
    font-size: 24px;
}

main table .content-table .standard-th .int-price,
main table .content-table .ultimate-th .int-price,
main table .content-table .premium-th .int-price {
    float: left;
    font-size: 36px;
    padding-top: 15px;
    padding-left: 23px;
}

main table .content-table .standard-th .float-price,
main table .content-table .ultimate-th .float-price,
main table .content-table .premium-th .float-price {
    font-size: 18px;
}

main table .content-table .standard-th .info-price,
main table .content-table .ultimate-th .info-price,
main table .content-table .premium-th .info-price {
    font-size: 14px;
    margin-top: 34px;
}

main table .content-table .ultimate-th {
    text-transform: uppercase;
    font-family: Arimo-Bold, sans-serif;
    color: #fff;
    background-color: #f04a56;
    border-bottom: 1px solid #f04a56;
}

main table .content-table .premium-th {
    text-transform: uppercase;
    font-family: Arimo-Bold, sans-serif;
    color: #fff;
    background-color: #20807c;
    border-bottom: 1px solid #20807c;
}

main table .content-table .standard-th .btn-buy {
    clear: left;
}

main table .content-table button {
    font-family: 'Arimo-Bold', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    width: 144px;
    height: 30px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    padding-top: 5px;
    text-align: center;
    transition: all 0.5s;
}

main table .content-table button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

main table .content-table button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

main table .content-table button:hover span {
    padding-right: 25px;
}

main table .content-table button:hover span:after {
    opacity: 1;
    right: 0;
}

main table .content-table .btn-buy > button {
    background-color: #484848;
    box-shadow: 0 5px #404040;
}