

* {
    font-family: 'PT Sans', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
header {
    font-size: 80px;
    margin-top: 61px;
    margin-bottom: 45px;
    color: #000;
}
.header-a {
    color: #000;
}
.header-span {
    color: #00cbff;
}
.nav-menu {
    background-color: #35444f;
    text-align: center;
}
.nav-menu-item {
    display: inline-block;
}
.nav-menu-item-link {
    color: #fff;
    display: block;
    font-size: 24px;
    padding: 25px 40px;
}
.nav-menu-item:hover {
    background-color: #222f3a;
}
.left-menu {
    border: 1px solid #35444f;
    display: inline-block;
    vertical-align: top;
}
.left-menu-item-link {
    padding: 15px 100px 15px 45px;
    display: block;
    font-size: 28px;
    color: #485863;
    transition: 1s;
}
.left-menu-item:hover .left-menu-item-link {
    color: #000;
    transform: translateX(20px);
}
.left-menu-item:hover {
    background-color: #dbdbdb;
}
.main-menu {
    display: inline-block;
    width: 68%;
    margin-left: 50px;
}
.main-content {
    padding: 40px 0;
}
.img-menu {
    border: 1px solid #000;
    padding: 75px 260px;
}
.img-menu-ramda {
    transition: 1s
}
.img-menu-ramda:hover {
    transform: scale(1.2);
}
.text-menu {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
}
.text {
    padding-top: 20px;
    font-size: 18px;
    line-height: 23px;
}
.footer {
    padding: 20px 40px;
    background-color: #b4b7ba;
}
.footer-menu {
    display: inline-block;
}
.footer-menu-item {
    display: inline-block;
    margin-right: 10px;
}
.footer-menu-item:hover .footer-menu-item-link {
    color: #3181a6;
    text-decoration: underline;
}
.footer-menu-item-link {
    font-size: 28px;
    color: #000;
}
.copyright {
    font-size: 24px;
    display: inline-block;
    margin-left: 215px;
}