html {
    width: 1900px;
}

body {
    margin: 0;
    padding: 0;
}

header nav {
    width: auto;
    height: 70px;
    background-color: #1d2124;
}

header a {
    text-decoration: none;
    color: inherit;
}

header nav .flex-nav {
    display: flex;
    align-items: center;
}

header nav .flex-nav .logo {
    background-color: #1a1d20;
    width: 81px;
    height: 70px;
}

header nav .flex-nav .logo > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
}

header nav .flex-nav .name {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 22px;
    color: rgba(255, 255, 255, 255);
    padding-left: 6px;
    align-items: flex-start;
    margin-right: 459px;
}

header nav .flex-nav .box {
    text-transform: uppercase;
    flex: 2;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold, sans-serif;
    font-size: 15px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    /*padding: 18px;*/
}

header nav .flex-nav .search {
    margin-left: 437px;
    background-color: #1a1d20;
    width: 68px;
    height: 70px;
    color: white;
}

header nav .flex-nav .search i {
    padding: 26px;
}

header .header-content {
    min-height: 404px;
    background-size: cover;
    background: rgb(0, 0, 0) url("../img/header-bg-img2.png") no-repeat fixed center;
}

header .header-content .main-phrase {
    font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier, sans-serif;
    font-size: 27px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 127px;
    text-transform: uppercase;
}

header .header-content .header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .header-content .header-btn > .btn {
    width: 170px;
    height: 55px;
    border-radius: 5px;
    margin: 44px 10px 10px;
}

header .header-content .header-btn > .btn div {
    padding-top: 16px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold, sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}

header .header-content .header-btn > .btn1 {
    background-color: #89ca62;
}

header .header-content .header-btn > .btn2 {
    background-color: #14b9d5;
}

.first-container {
    background-color: #f2f2f2;
}

.first-container > .title {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 27px;
    color: rgba(24, 180, 207, 255);
    text-align: center;
    text-transform: uppercase;
    padding: 43px;
}

.first-container .flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 1030px;
    flex-wrap: wrap;
    padding-left: 300px;
    padding-right: 370px;
}

.first-container .flex-container > .box {
    margin: 0 30px 30px;
    background-color: #fff;
}

.first-container .flex-container > .box .title-box {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    text-align: center;
    padding: 21px;
}

.parallax-container {
    min-height: 598px;
    background-size: cover;
    background: url("../img/img_parallax-bg.jpeg") no-repeat fixed center;
}

.parallax-container > .title {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 32px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    padding-top: 201px;
}

.parallax-container .grid-brand {
    display: grid;
    margin-top: 118px;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: start;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "item0 item0 item1 item2 item3 item4"
}

.parallax-container .grid-brand > .item1 {
    grid-area: item1;
}

.parallax-container .grid-brand > .item2 {
    grid-area: item2;
}

.parallax-container .grid-brand > .item3 {
    grid-area: item3;
}

.parallax-container .grid-brand > .item4 {
    grid-area: item4;
}

.second-container {
    background-color: #fff;
}

.second-container .top-rated .title,
.second-container .hot-news .title {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 27px;
    color: rgba(24, 180, 207, 255);
    text-align: center;
    text-transform: uppercase;
    margin: 53px;
}

.second-container .top-rated .grid-top-rated {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.second-container .hot-news .grid-hot-news {
    display: grid;
    margin-left: 20%;
    grid-template-rows: 1fr 1.6fr 1.6fr 1fr;
    grid-template-columns: 277px 277px 277px 277px;
    grid-gap: 1vw;
    grid-template-areas: "hn1 hn1 hn1 hn2" "hn3 hn3 hn4 hn4" "hn5 hn5 hn6 hn6" "hn7 hn8 hn8 hn8"
}

.second-container .hot-news .grid-hot-news .hn1 {
    grid-area: hn1;
}

.second-container .hot-news .grid-hot-news .hn2 {
    grid-area: hn2;
}

.second-container .hot-news .grid-hot-news .hn3 {
    grid-area: hn3;
}

.second-container .hot-news .grid-hot-news .hn4 {
    grid-area: hn4;
}

.second-container .hot-news .grid-hot-news .hn5 {
    grid-area: hn5;
}

.second-container .hot-news .grid-hot-news .hn6 {
    grid-area: hn6;
}

.second-container .hot-news .grid-hot-news .hn7 {
    grid-area: hn7;
}

.second-container .hot-news .grid-hot-news .hn8 {
    grid-area: hn8;
}

.second-container .hot-news .grid-hot-news > div {
    background-color: #f9f7f7;
}

.second-container .hot-news .grid-hot-news .hn1 > .title,
.second-container .hot-news .grid-hot-news .hn8 > .title {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 16px;
    color: rgba(53, 58, 61, 255);
    text-align: center;
    margin-top: 41px;
    margin-left: 525px;
}

.second-container .hot-news .grid-hot-news .hn1 > .content,
.second-container .hot-news .grid-hot-news .hn8 > .content {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold, sans-serif;
    font-size: 14px;
    color: rgba(91, 100, 105, 255);
    text-align: center;
    margin-left: 500px;
    margin-right: 20px;
}

.second-container .hot-news .grid-hot-news .hn2 > .title,
.second-container .hot-news .grid-hot-news .hn7 > .title {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 16px;
    color: rgba(53, 58, 61, 255);
    text-align: center;
    margin: 15px;
}

.second-container .hot-news .grid-hot-news .hn3 > .title,
.second-container .hot-news .grid-hot-news .hn4 > .title,
.second-container .hot-news .grid-hot-news .hn5 > .title,
.second-container .hot-news .grid-hot-news .hn6 > .title {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
    text-align: right;
    margin-right: 27px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.second-container .hot-news .grid-hot-news .hn3 > .content,
.second-container .hot-news .grid-hot-news .hn4 > .content,
.second-container .hot-news .grid-hot-news .hn5 > .content,
.second-container .hot-news .grid-hot-news .hn6 > .content {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold, sans-serif;
    font-size: 14px;
    color: rgba(91, 100, 105, 255);
    text-align: right;
    margin-right: 18px;
    margin-left: 18px;
}

.second-container .hot-news .grid-hot-news .hn4 > .title,
.second-container .hot-news .grid-hot-news .hn6 > .title {
    margin-top: 287px;
    margin-bottom: 20px;
}

footer {
    margin-top: 71px;
    background-color: #1d2124;
    height: 80px;
}

footer .grid-footer {
    display: grid;
    margin-left: 20%;
    grid-template-columns: 1020px 1fr;
    grid-gap: 1vw;
    align-items: center;
    padding-top: 30px;
}

footer .grid-footer .gf1 {
    font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier, sans-serif;
    font-size: 13px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}

#back-top {
    display: none;
    position: fixed;
    bottom: 0;
    padding: 0;
    right: 50px;
    z-index: 99991;
}

#back-top a {
    width: 77px;
    height: 30px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 30px 30px 0 0;
    display: block;
    padding-top: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all linear 0.2s;
    text-align: center;
}

#back-top a:hover {
    height: 70px;
    background: #1d2124;
    transition: all linear 0.2s;
    color: #fff;
    font-size: 200%;
}

#hide-div {
    position: absolute;
    padding: 0;
    right: 365px;
    z-index: 99991;
}

#hide-div a {
    width: 77px;
    height: 30px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0 0 30px 30px;
    display: block;
    padding-top: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all linear 0.2s;
    text-align: center;
}

#hide-div a:hover {
    background: #1d2124;
    transition: all linear 0.2s;
    color: #fff;
}
