body {
    font-family: 'Roboto', sans-serif;
    background: url("../img/bg.png") no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    transition: 1s;
}

a:hover {
    text-decoration: underline;
}

.main-header {
    box-sizing: border-box;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    margin: 0 auto;
    max-width: 1031px;
}

.signup-form {
    width: 444px;
    height: 584px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.header-items {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 20px;
    color: #fff;
}

.header-logo:hover {
    color: #3cb878;
    text-decoration: none;
}

.details {
    display: flex;
    align-items: center;
}

.details-txt {
    color: #fff;
    position: relative;
}

.details-txt:before {
    content: "";
    display: block;
    height: 20px;
    border-left: 1px solid #fff;
    position: absolute;
    left: -30px;
    opacity: 0.1;
}

.sprites {
    width: 130px;
    display: flex;
    justify-content: space-between;
    margin-right: 45px;
}

.sprite {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
    width: 26px;
    height: 20px;
    transition: color 1s;
}

.calendar {
    background-position: -5px -5px;
}

.calendar:hover {
    background-position: -34px -5px;
}

.forum {
    background-position: -63px -5px;
}

.forum:hover {
    background-position: -101px -5px;
}

.journey {
    background-position: -139px -5px;
}

.journey:hover {
    background-position: -169px -5px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.green-cube {
    height: 18px;
    width: 18px;
    background-color: #3cb878;
    position: absolute;
    top: 29px;
}

.main-content {
    display: flex;
    margin: 29px 59px 32px 62px;
    position: relative;
    flex-direction: column;
}

h3 {
    font-size: 20px;
    color: #505050;
}

.log-in {
    position: absolute;
    right: 0;
    font-size: 14px;
    color: #3cb878;
    text-decoration: none;
    top: 3px;
}

.buttons {
    display: flex;
    color: white;
    justify-content: space-between;
    margin-top: 15px;
}

.btn {
    width: 157px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 1s;
    cursor: pointer
}

.facebook {
    background-color: #305db8;
    padding-top: 9px;
    padding-bottom: 9px;
}

.facebook:hover {
    background-color: #264b96;
}

.google {
    background-color: #df4a32;
    padding-top: 9px;
    padding-bottom: 9px;
}

.google:hover {
    background-color: #c3412c;
}

.fb-logo {
    font-size: 26px;
    font-weight: bold;
}

.gl-logo {
    font-size: 21px;
    font-weight: bold;
}

.btn-text {
    position: relative;
}

.btn-text:before {
    content: "";
    display: block;
    position: absolute;
    left: -15px;
    height: 25px;
    top: -3px;
    border-left: 1px solid #000;
    opacity: 0.1;
}

.green {
    color: #3cb878;
}

.line-or hr {
    width: 133px;
}

.line-or > div {
    float: left;
}

.first-line {
    margin-right: 18px;
    margin-left: 62px;
}

.second-line {
    margin-left: 19px;
}

input {
    width: 300px;
    margin-left: 62px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 19px;
    border: 1px solid #eaeaea;
}

input:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.span-or {
    color: #848484;
}

.name {
    margin-top: 17px;
}

.l-name {
    margin-top: 17px;
}

.e-mail {
    margin-top: 9px;
}

.pass {
    margin-top: 9px;
}

.c-pass {
    margin-top: 9px;
}

.scales1 {
    width: 20px;
    margin-top: 22px;
}

.t-c {
    color: #3cb878;
}

.c-a {
    width: 323px;
    height: 46px;
    margin: 20px 60px 32px 62px;
    color: #fff;
    background-color: #3cb878;
    border-radius: 5px;
    border: 1px solid #3cb878;
    transition: 1s;
}

.c-a:hover {
    background-color: #329a65;
}