body {
    margin: 0;
    padding: 0;
}

body.wrapper {
    background-color: white;
}

.nav-a {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.nav-a a {
    color: #16a085;
    text-decoration: none;
    font-family: 'Roboto Black', sans-serif;
    margin-right: 40px;
    margin-left: 40px;

}

.main-img,
.content {
    background-color: #f5f6f7;
}

.content {
    padding-top: 56px;
    text-align: center;
}

.content h3 {
    font-family: 'Roboto Black', sans-serif;
}

.content p {
    margin-bottom: 41px;
    font-family: 'Roboto', sans-serif;

    margin-left: 107px;
    margin-right: 107px;
}

.content button {
    background: #16a085;
    display: inline-block;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 18px 48px;
    border: none;
    border-radius: 5px;
    margin-bottom: 97px;
}

.footer-p {
    text-align: right;
    margin-right: 60px;
    margin-top: 44px;
    margin-bottom: 44px;
    font-family: 'Roboto Black', sans-serif;
    color: #373737;
}
