body {
    font-family: Roboto, sans-serif;
}

label {
    font-size: 20px;
    font-weight: bold;
}

input {
    width: 100px;
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    outline: none;
}

button {
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 30px;
}
