.wrapper-gallery * {
    box-sizing: border-box;
}

.wrapper-gallery .grid {
    margin-top: 70px;
    margin-left: 300px;
    margin-right: 300px;
}

.wrapper-gallery .grid:after {
    content: '';
    display: block;
    clear: both;
}

.wrapper-gallery .grid-item {
    float: left;
    height: auto;
    margin-bottom: 12px;
}

.wrapper-gallery .size1 {
    width: 370px;
}

.wrapper-gallery .size2 {
    width: 180px;
}

.wrapper-gallery .size3 {
    width: 115px;
}

.wrapper-gallery img {
    width: 100%;
}

.wrapper-gallery .grid-item {
    position: relative;
}

.wrapper-gallery .grid-item .cover-item-gallery {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .5s;
}

.wrapper-gallery .grid-item:hover .cover-item-gallery {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0;
    bottom: 0;
    display: block;
}

.wrapper-gallery .grid-item .cover-item-gallery a i {
    display: none;
}

.wrapper-gallery .grid-item:hover .cover-item-gallery a i {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    position: relative;
    top: 45%;
    left: 38%;
    background-color: #14b9d5;
    opacity: 1;
    border-radius: 3px;
    padding: 10px;
}

.wrapper-gallery .grid-item .cover-item-gallery a i.fas {
    font-size: 21px;
    margin-left: 5px;
}