body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    max-width: 1900px;
    min-width: 1200px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

header {
    height: 1012px;
    background-size: cover;
    background: url("../img/header-layer.png") no-repeat fixed center;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 120px;
    background-color: rgba(6, 3, 3, 0.47);
}

header nav > a {
    display: flex;
    align-items: center;
    margin-top: 7px;
    margin-right: 292px;
}

header nav > a .ham-text {
    margin-left: 8px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 255);
}

header nav > a .ham-text > span {
    font-weight: bold;
    color: white;
    transition: all linear .5s;
}

header nav > a:hover .ham-text > span {
    color: rgba(24, 207, 171, 255);
}

header nav > a .ham-logo {
    font-size: 40px;
    color: rgba(255, 255, 255, 255);
}

header nav > a .ham-logo .on-logo-text {
    position: absolute;
    top: 34px;
    padding-left: 13px;
    font-weight: bold;
}

header nav > .nav-menu a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #b8b8b8;
    padding-top: 55px;
    padding-bottom: 50px;
    margin-right: 15px;
}

header nav > .nav-menu a:hover {
    border-bottom: 3px solid rgba(24, 207, 171, 255);
    color: rgba(24, 207, 171, 255);
}

header nav > .search-icon {
    margin-left: 17px;
}

header nav > .search-icon i {
    font-size: 20px;
}

header nav > .search-icon a:hover {
    color: rgba(24, 207, 171, 255);
}

header nav > .search-icon {
    color: #b8b8b8;
}

header .container > div {
    text-align: center;
    color: rgba(255, 255, 255, 255);
}

header .container .ham-is {
    margin-top: 246px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

header .container .ham-is > span {
    font-size: 35px;
    color: rgba(24, 207, 171, 255);
}

header .container .we-are {
    font-size: 69px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 29px;
}

header .container .buy-and-enjoy {
    font-size: 29px;
    font-weight: lighter;
    margin-top: 22px;
    color: rgba(212, 212, 212, 255);
}

header .container .buttons > button:nth-child(2) {
    background-color: #00cbf6;
}

header .container .buttons > button,
.wrapper-purchase .button > button,
.wrapper-work > .btn .load-more,
.wrapper-gallery > .btn .load-more {
    background-color: rgba(24, 207, 171, 255);
    border: none;
    margin-top: 172px;
    margin-right: 14px;
    margin-left: 14px;
    text-transform: uppercase;
    color: white;
    padding: 20px 40px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.7s ease;
}

header .container .buttons > button:hover,
.wrapper-purchase .button > button:hover {
    box-shadow: inset 0 0 0 5px #fff;
}

.option-wrapper {
    display: flex;
    text-align: center;
    flex-direction: row;
}

.option-wrapper .option {
    border: none;
    border-top: 5px solid #18cfab;
    width: 480px;
    height: 350px;
    text-transform: uppercase;
    color: #18cfab;
    font-weight: bold;
    background-color: #1c2a33;
}

.option-wrapper .option:nth-child(2n) {
    border-top: 5px solid white;
    background-color: #18cfab;
    color: #ffff;
}

.option-wrapper .option img {
    margin-top: 96px;
}

.option-wrapper .option:nth-child(2n) img {
    margin-top: 116px;
}

.option-wrapper .option div {
    margin-top: 49px;
}

.wrapper-service {
    height: 530px;
}

.wrapper-service > .title,
.wrapper-work > .title,
.breaking-news > .title,
.wrapper-gallery > .title {
    text-align: center;
    margin-top: 82px;
    font-size: 36px;
    color: rgba(78, 78, 78, 255);
}

.wrapper-service > .hrs,
.wrapper-work > .hrs,
.breaking-news > .hrs,
.wrapper-people > .hrs,
.wrapper-gallery > .hrs {
    text-align: center;
    margin-top: 30px;
}

.wrapper-service > .hrs > .first-hr,
.wrapper-work > .hrs > .first-hr,
.breaking-news > .hrs > .first-hr,
.wrapper-people > .hrs > .first-hr,
.wrapper-gallery > .hrs > .first-hr {
    position: relative;
    right: 5px;
}

.wrapper-service > .hrs > .second-hr,
.wrapper-work > .hrs > .second-hr,
.breaking-news > .hrs > .second-hr,
.wrapper-people > .hrs > .second-hr,
.wrapper-gallery > .hrs > .second-hr {
    position: relative;
    left: 5px;
    top: -5px;
}

.wrapper-service > .tabs {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.wrapper-service > .tabs > .tab {
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;
    padding: 28px 34px 8px;
    cursor: pointer;
}

.wrapper-service > .tabs > .tab.active {
    background-color: #18cfab;
    border-color: #18cfab;
    color: white;
}

.wrapper-service > .tabs > .tab.active > .triangle::after {
    content: '';
    position: relative;
    left: 40%;
    bottom: -36px;
    border: 10px solid transparent;
    border-top: 10px solid #18cfab;
}

.wrapper-service > .all-list {
    display: flex;
    justify-content: center;
}

.wrapper-service > .all-list .tabs-content {
    display: flex;
    justify-content: center;
}

.wrapper-service > .all-list .tabs-content .content {
    display: none;
}

.wrapper-service > .all-list .tabs-content .content.active {
    margin-top: 24px;
    display: flex;
    width: 1095px;
    justify-content: center;
}

.wrapper-service > .all-list .tabs-content .content > img {
    margin-right: 20px;
}

.wrapper-purchase {
    min-height: 404px;
    background-size: cover;
    background: rgb(0, 0, 0) url("../img/purchase-layer.png") no-repeat fixed center;
}

.wrapper-purchase > .title {
    padding-top: 128px;
    font-size: 39px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(24, 207, 171, 255);
    text-align: center;
}

.wrapper-purchase > .text {
    margin-top: 35px;
    font-size: 16px;
    color: rgba(216, 216, 216, 255);
    text-align: center;
}

.wrapper-purchase .button {
    text-align: center;
}

.wrapper-purchase .button > button {
    margin-top: 76px;
    margin-right: 14px;
    margin-left: 14px;
}

.wrapper-work {
    border-bottom: 1px solid #e1e1e1;
}

.wrapper-work > .tabs {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.wrapper-work > .tabs .tab {
    background-color: #f8fcfe;
    border: 2px solid #ebebeb;
    padding: 28px 34px 28px 34px;
}

.wrapper-work > .tabs .tab:nth-child(n-1) {
    border-right: 1px solid #ebebeb;
}

.wrapper-work > .tabs .tab:nth-child(n+1) {
    border-left: 1px solid #ebebeb;
}

.wrapper-work > .tabs .tab:hover {
    color: #18cfab;
    cursor: pointer;
    border-top: 2px solid #18cfab;
}

.wrapper-work > .tabs .tab.active {
    color: #18cfab;
    cursor: pointer;
    border-top: 2px solid #18cfab;
}

.wrapper-work > .all-list {
    display: flex;
    justify-content: center;
}

.wrapper-work > .all-list .tabs-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1160px;
    margin: 70px 100px 71px;
}

.wrapper-work > .all-list .tabs-content .content {
    width: 284px;
    height: 206px;
    position: relative;
}

.wrapper-work > .all-list .tabs-content .content > .title {
    display: none;
}

.wrapper-work > .all-list .tabs-content .content:hover > .title {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border-top: 3px solid #18cfab;
    width: 286px;
    height: 205px;
}

.wrapper-work > .all-list .tabs-content .content > .title .buttons {
    margin-left: 98px;
}

.wrapper-work > .all-list .tabs-content .content > .title .buttons button {
    margin-top: 46px;
    margin-right: auto;
    margin-left: auto;
    padding: 13px;
    border: 2px white solid;
    border-radius: 50%;
}

.wrapper-work > .all-list .tabs-content .content > .title .buttons button:hover {
    border-color: #18cfab;
    background-color: #18cfab;
    color: white;
}

.wrapper-work > .all-list .tabs-content .content > .title .buttons button {
    border-color: #18cfab;
    background-color: white;
    color: #18cfab;
    transition: all linear .3s;
}

.wrapper-work > .all-list .tabs-content .content > .title > .title {
    font-size: 20px;
    color: rgba(24, 207, 171, 255);
    text-align: center;
    text-transform: uppercase;
    margin-top: 34px;
}

.wrapper-work > .all-list .tabs-content .content > .title .description {
    font-size: 14px;
    color: rgba(138, 138, 138, 255);
    text-align: center;
    margin-top: 13px;
}

.wrapper-work > .btn,
.wrapper-gallery > .btn {
    text-align: center;
}

.wrapper-work > .btn > button,
.wrapper-gallery > .btn > button {
    width: 160px;
}

.wrapper-work > .btn .load-more,
.wrapper-gallery > .btn .load-more {
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding: 15px 10px;
    margin-top: 0;
    width: 160px;
    margin-bottom: 100px;
}

.wrapper-work > .btn .load-more::before,
.wrapper-gallery > .btn .load-more::before {
    content: '\271A';
    margin-right: 17px;
}

.breaking-news {
    height: 900px;
}

.breaking-news > .all-list {
    display: flex;
    justify-content: center;
}

.breaking-news > .all-list .list-cards a {
    display: block;
}

.breaking-news > .all-list .list-cards {
    display: flex;
    flex-wrap: wrap;
    width: 1168px;
    margin-top: 70px;
    cursor: pointer;
}

.breaking-news > .all-list .list-cards .card {
    width: 263px;
    height: 280px;
    margin-right: 28px;
    margin-bottom: 45px;
}

.breaking-news > .all-list .list-cards .card .pic1 {
    height: 208px;
    background-image: url("../img/news-layer1.png");
}

.breaking-news > .all-list .list-cards .card .pic2 {
    height: 208px;
    background-image: url("../img/news-layer2.png");
}

.breaking-news > .all-list .list-cards .card .pic3 {
    height: 208px;
    background-image: url("../img/news-layer3.png");
}

.breaking-news > .all-list .list-cards .card .pic4 {
    height: 208px;
    background-image: url("../img/news-layer4.png");
}

.breaking-news > .all-list .list-cards .card .pic5 {
    height: 208px;
    background-image: url("../img/news-layer5.png");
}

.breaking-news > .all-list .list-cards .card .pic6 {
    height: 208px;
    background-image: url("../img/news-layer6.png");
}

.breaking-news > .all-list .list-cards .card .pic7 {
    height: 208px;
    background-image: url("../img/news-layer7.png");
}

.breaking-news > .all-list .list-cards .card .pic8 {
    height: 208px;
    background-image: url("../img/news-layer8.png");
}

.breaking-news > .all-list .list-cards .card .main-picture .date {
    background-color: #203e38;
    width: 68px;
    height: 66px;
    float: right;
}

.breaking-news > .all-list .list-cards .card .main-picture .date > div {
    text-align: center;
    color: white;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
}

.breaking-news > .all-list .list-cards .card .main-picture .date > .day {
    margin-top: 10px;
    margin-bottom: 5px;
}

.breaking-news > .all-list .list-cards .card .description {
    border: 1px solid #ececec;
    height: 72px;
    background-color: #f8fcfe;
}

.breaking-news > .all-list .list-cards .card .description > .title {
    font-size: 18px;
    font-weight: bold;
    color: rgba(113, 113, 113, 255);
    margin-left: 13px;
    margin-top: 14px;
}

.breaking-news > .all-list .list-cards .card .description > .text {
    font-size: 14px;
    color: rgba(119, 119, 119, 255);
    margin-left: 17px;
    margin-top: 12px;
}

.breaking-news > .all-list .list-cards .card:hover .main-picture .date {
    background-color: #18cfab;
}

.breaking-news > .all-list .list-cards .card:hover .description > .title {
    color: #18cfab;
}

.wrapper-people {
    height: 850px;
    background-size: cover;
    background: #0c2831 url("../img/people-layer.png") no-repeat center;
}

.wrapper-people > .title {
    font-size: 36px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 98px;
}

.wrapper-people > .comments .sq {
    font-size: 120px;
    color: #18cfab;
    text-align: center;
}

.wrapper-people > .comments .comment {
    display: none;
}

.wrapper-people > .comments .comment.active {
    display: block;
}

.wrapper-people > .comments .comment.active > .text {
    font-size: 16px;
    color: rgba(187, 187, 187, 255);
    text-align: center;
    margin-top: -30px;
    margin-right: 380px;
    margin-left: 380px;
}

.wrapper-people > .comments .comment.active > .name {
    margin-top: 43px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(24, 207, 171, 255);
    text-align: center;
    text-transform: uppercase;
}

.wrapper-people > .comments .comment.active > .prof {
    font-size: 12px;
    color: rgba(187, 187, 187, 255);
    text-align: center;
    margin-top: 10px;
}

.wrapper-people > .comments .comment.active > .shadow-border {
    width: 164px;
    height: 164px;
    border: 15px rgba(24, 197, 162, 0.5) solid;
    border-radius: 50%;
    margin-top: 27px;
    margin-right: auto;
    margin-left: auto;
}

.wrapper-people > .comments .comment.active > .shadow-border img {
    position: relative;
    top: -4px;
    left: -4px;
    border: 4px rgba(24, 197, 162, 1) solid;
    border-radius: 50%;
    width: inherit;
    height: inherit;
}

.wrapper-people > .comments > .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 57px;
}

.wrapper-people > .comments > .tabs > div {
    margin-right: 30px;
    cursor: pointer;
}

.wrapper-people > .comments > .tabs .left-arrow,
.wrapper-people > .comments > .tabs .right-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    font-size: 20px;
    font-weight: bold;
    border: 2px #bbbbbb solid;
    color: #bbbbbb;
}

.wrapper-people > .comments > .tabs .left-arrow:hover,
.wrapper-people > .comments > .tabs .right-arrow:hover {
    border: 2px #18cfab solid;
    color: white;
    background-color: #18cfab;
    cursor: pointer;
}

.wrapper-people > .comments > .tabs .person {
    width: 62px;
    height: 62px;
    border: 5px rgba(24, 197, 162, 0.5) solid;
    border-radius: 50%;
}

.wrapper-people > .comments > .tabs .person img {
    width: 62px;
    height: 62px;
    border-radius: 50%;
}

.wrapper-people > .comments > .tabs .person.active img {
    position: relative;
    top: -2px;
    left: -2px;
    border: 2px rgba(24, 197, 162, 1) solid;
}

.wrapper-people > .comments > .tabs .person.active {
    margin-top: -20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 108px;
    background-color: #22353f;
}

footer > .title {
    font-size: 14px;
    color: rgba(174, 174, 174, 255);
}

footer > .title span {
    color: #18cfab;
}

#back-top {
    display: none;
    position: fixed;
    bottom: 0;
    padding: 0;
    right: 50px;
    z-index: 99991;
}

#back-top a {
    width: 77px;
    height: 30px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 30px 30px 0 0;
    display: block;
    padding-top: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all linear 0.2s;
    text-align: center;
}

#back-top a:hover {
    height: 70px;
    background: #1d2124;
    transition: all linear 0.2s;
    color: #fff;
    font-size: 200%;
}
