body {
    font-family: 'Lato', sans-serif;
    background: url("../img/background.png") black;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.container {
    margin: 0 auto;
    width: 1000px;
}

.header {
    color: #fff;
    padding: 50px 0;
}

.logo {
    font-weight: bold;
    float: left;
}

.logo:hover .logo-text-color {
    color: #f26522;
}

.logo:hover .img-logo {
    background: url("../img/logo-orange.png");
}

.contacts {
    float: right;
    text-align: right;
}

.logo-text-milan {
    font-size: 29px;
}

.logo-text-holidays {
    font-size: 18px;
}

.img-logo {
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 15px;
    background: url("../img/logo.png");
}

.logo-text {
    float: left;
}

.content {
}

.content-item {
    float: left;
    color: white;
    font-size: 18px;
    margin-right: 30px;
}

.content-item:hover .content-item-title {
    color: #f26522;
}

.content-item:hover .content-item-details {
    transform: translateY(-63px);
}

.content-item:nth-child(3n) {
    margin-right: 0;
}

.img-container {
    padding: 3px;
    background: linear-gradient(to top, #000, #fff);
    position: relative;
    overflow: hidden;
}

.content-item-details {
    position: absolute;
    bottom: -63px;
    width: 312px;
    height: 63px;
    background-color: #f26522;
    transition: 1s;
}

.details-info {
    padding: 30px 20px 20px;
}

.content-item-title {
    text-align: center;
    padding: 20px 0;
}

.details-price {
    float: left;
    position: relative;
}

.details-price:before {
    content: "\20AC";
}


.details-price:after {
    content: "from";
    position: absolute;
    top: -10px;
    left: 0;
    font-size: 10px;
}

.details-text {
    float: right;
    font-size: 14px;
}

.details-text:after {
    content: "\003E";
    margin-left: 10px;
}

.footer {
    text-align: center;
    padding: 20px 0;
    color: #fff;
    font-size: 12px;
}