body {
    background-image: url(../img/bg.jpg);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-text {
    position: absolute;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 70%;
    color: #fffd41;
    font-family: Roboto, sans-serif;
    transform: perspective(200px) rotateX(30deg);
}

.main-text div {
    position: absolute;
    animation: main-text 50s linear infinite;
}

.main-text div h3 {
    text-align: center;
    font-weight: bold;
}

@keyframes main-text {
    0% {
        top: 100%;
    }
    100% {
        top: -250%;
    }
}

