body {
    font-family: "Roboto", sans-serif;
}
.container {
    width: 1280px;
    text-align: center;
    font-weight: bold;
}
.navigation-item {
    margin-right: 65px;
    color: #16a085;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.description {
    background-color: #f5f6f7;
}
.description-title {
    padding: 40px 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}
.description-text {
    margin: 10px 100px;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
}
.button {
    text-align: center;
    padding: 20px 40px;
    margin: 40px 0;
    background-color: #16a085;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.footer {
    font-size: 16px;
    text-align: right;
    font-weight: bold;
    padding: 45px 0;
}